$main_color: #33b979;
$text_color: #1d1d1d;

@media screen and (min-width: 768px) {
	.sp {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.pc {
		display: none;
	}
}

body {
	font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro',
		'メイリオ', 'Meiryo', '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
	color: #1d1d1d;
}

a {
	text-decoration: none;
	color: #1d1d1d;
	&:hover {
		opacity: 0.8;
	}
}

p {
	color: #1d1d1d;
}

img {
	max-width: 100%;
}

hr {
	margin: 21px 0;
}

@media screen and (max-width: 767px) {
	hr {
		margin: 14px 0;
	}
}

.inner {
	width: 100%;
	max-width: 1020px;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
	.inner {
		padding: 0 20px;
	}
}

.breadcrumb {
	font-size: 14px;
	padding: 10px 0;
	vertical-align: middle;
}

@media screen and (max-width: 767px) {
	.breadcrumb {
		font-size: 12px;
		padding: 14px 0;
	}
}

.border-none {
	border: none !important;
}

.bold {
	font-weight: bold;
}

.mini-font {
	font-size: 12px;
}

.midashi {
	font-size: 42px;
	text-align: center;
	color: $main_color;
	line-height: 0.8;
	margin-bottom: 40px;
	&.mt {
		padding-top: 70px;
		color: $text_color;
	}
	span {
		display: inline;
		font-size: 21px;
		&::before {
			content: '\A';
			white-space: pre;
		}
	}
}

@media screen and (max-width: 767px) {
	.midashi {
		font-size: 28px;
		margin-bottom: 20px;
		&.mt {
			padding-top: 35px;
		}
		span {
			font-size: 14px;
		}
	}
}

.komidashi {
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 21px;
	padding: 21px;
	background: #ecf2da;
	&.mt {
		margin-top: 35px;
	}
}

@media screen and (max-width: 767px) {
	.komidashi {
		font-size: 18px;
		margin-bottom: 18px;
		padding: 18px;
		&.mt {
			margin-top: 21px;
		}
	}
}

.page {
	padding: 40px 0 70px;
	p {
		line-height: 1.75;
	}
}

.page-outer {
	background: $main_color;
	padding: 24px 0 21px;
	.page-title {
		color: #fff;
		font-size: 28px;
		font-weight: bold;
		text-align: center;
		line-height: 0.8;
		span {
			display: inline;
			font-size: 16px;
			font-weight: normal;
			&::before {
				content: '\A';
				white-space: pre;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.page-outer {
		.page-title {
			font-size: 21px;
			line-height: 1;
			span {
				font-size: 14px;
			}
		}
	}
}
