$main_color: #33b979;
$text_color: #5a5a5a;

header {
	height: 120px;
	border-top: 20px solid $main_color;
	border-bottom: 1px solid silver;
	.header {
		position: relative;
		width: 100%;
		max-width: 1020px;
		height: 100px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		h1 {
			position: absolute;
			top: 14px;
			left: 0;
			width: 144px;
			height: 72px;
		}
		.main_nav {
			margin-left: 158px;
			margin-top: 42px;
			.main_menu {
				display: flex;
				justify-content: space-between;
				list-style-type: none;
				li {
					flex-grow: 1;
					padding: 0 14px;
					text-align: center;
					font-weight: bold;
					line-height: 14px;
					& + li {
						border-left: 1px solid $text_color;
					}
					a {
						color: $text_color;
						text-decoration: none;
						span {
							display: inline;
							font-size: 10px;
							&::before {
								content: '\A';
								white-space: pre;
							}
						}
					}
				}
			}
		}
		.search {
			margin-top: 44px;
			input {
				width: 200px;
				border: 1px solid silver;
				border-radius: 7px;
				padding: 2px 7px;
			}
			button {
				color: #fff;
				font-size: 15px;
				background: $text_color;
				border-radius: 7px;
				padding: 4px 14px;
			}
		}
		.sub_nav {
			position: absolute;
			top: 11px;
			right: 0;
			ul {
				list-style-type: none;
				display: flex;
				li {
					padding: 0 14px;
					&:first-child {
						border-right: 1px solid #000;
					}
					&:last-child {
						padding-right: 0;
					}
					a {
						color: #000;
						text-decoration: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	header {
		height: auto;
		.header {
			height: 80px;
			padding: 0 14px;
			h1 {
				position: absolute;
				width: 95px;
				height: 48px;
				top: 14px;
				left: 14px;
			}
			.search {
				margin-left: 109px;
				margin-top: 23px;
				input {
					width: 110px;
				}
				button {
					padding: 4px 14px;
				}
			}
			.hamburger {
				margin-top: 26px;
			}
		}
		.main_menu_sp {
			margin-bottom: 14px;
			display: flex;
			justify-content: space-between;
			list-style-type: none;
			li {
				flex-grow: 1;
				text-align: center;
				font-size: 12px;
				font-weight: bold;
				line-height: 14px;
				& + li {
					border-left: 1px solid $text_color;
				}
				a {
					color: $text_color;
					text-decoration: none;
					span {
						display: inline;
						font-size: 9px;
						&::before {
							content: '\A';
							white-space: pre;
						}
					}
				}
			}
		}
	}
}

#SLIDER {
	margin-top: 40px;
	height: 380px;
	img {
		padding: 0 14px;
	}
}

@media screen and (max-width: 767px) {
	#SLIDER {
		margin-top: 20px;
		height: auto;
		img {
			padding: 0;
		}
	}
}

#INFO {
	margin-top: 40px;
}

@media screen and (max-width: 767px) {
	#INFO {
		margin-top: 20px;
	}
}

.openhour {
	border: 2px solid $main_color;
	text-align: center;
	font-weight: bold;
	display: flex;
	align-items: center;
	&__left {
		flex-basis: 160px;
		background: $main_color;
		color: #fff;
		letter-spacing: 8px;
		padding: 14px 0;
	}
	&__right {
		flex: 1;
		font-size: 21px;
	}
}

@media screen and (max-width: 767px) {
	.openhour {
		display: block;
		&__left {
			flex-basis: 100%;
			padding: 7px 0;
		}
		&__right {
			flex-basis: 100%;
			font-size: 21px;
			font-weight: bold;
			line-height: 1;
			padding: 14px 0;
			span {
				font-size: 14px;
			}
		}
	}
}

.category {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	&__item {
		width: calc(25% - 14px);
		margin-bottom: 10px;
		&:nth-child(1),
		&:nth-child(2) {
			width: calc(50% - 14px);
		}
	}
}

@media screen and (max-width: 767px) {
	.category {
		&__item {
			flex-basis: calc(50% - 14px);
			margin-bottom: 10px;
		}
	}
}

#OTOKU {
	margin: 70px auto;
}

@media screen and (max-width: 767px) {
	#OTOKU {
		margin: 35px auto;
	}
}

.news {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__item {
		width: calc(25% - 14px);
		text-align: center;
		margin-bottom: 18px;
		padding: 10px;
		border: 1px solid $text_color;
		box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1),
			4px 4px 2px 3px rgba(0, 0, 0, 0.1);
		&.bg_white {
			border: none;
			background: #fff;
		}
		a {
			color: #000;
			text-decoration: none;
		}
		img {
			width: 100%;
			max-width: 100%;
			margin-bottom: 7px;
			object-fit: fill;
		}
		h3 {
			margin-bottom: 4px;
		}
	}
}

@media screen and (max-width: 767px) {
	.news {
		&__item {
			width: calc(50% - 14px);
		}
	}
}

.bg {
	background: #fff5d2;
}

#EVENT {
	padding-bottom: 70px;
}

footer {
	background: $main_color;
}

.footer {
	display: flex;
	justify-content: space-between;
	width: calc(100% - 180px);
	margin: 0 auto;
	padding: 45px 0;
	&__item {
		flex-basis: 48%;
		h4 {
			color: #fff;
			font-size: 20px;
		}
		ul {
			list-style-type: none;
			li {
				color: #fff;
				font-size: 16px;
				&.mb {
					margin-bottom: 14px;
				}
			}
		}
		&:first-child {
			background: #fff;
			padding: 14px;
			order: 2;
		}
		&:last-child {
			order: 1;
		}
		.footer_list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			&__item {
				flex-basis: 48%;
				font-size: 14px;
				margin-bottom: 14px;
				a {
					color: #000;
					font-weight: bold;
					text-decoration: none;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.footer {
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 40px 0 20px;
		&__item {
			flex-basis: 100%;
			h4 {
				font-size: 20px;
				margin-bottom: 7px;
			}
			ul {
				li {
					font-size: 14px;
					&.mb {
						margin-bottom: 4px;
					}
				}
			}
			&:first-child {
				order: 1;
				margin-bottom: 20px;
			}
			&:last-child {
				order: 2;
				text-align: center;
			}
			.footer_list {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				&__item {
					flex-basis: 48%;
					font-size: 13px;
					margin-bottom: 7px;
				}
			}
		}
	}
}

.info {
	display: flex;
	padding: 14px 0;
	border-bottom: 1px solid silver;
	&:last-child {
		border-bottom: none;
	}
	&__item {
		&:first-child {
			flex-basis: 140px;
			font-weight: bold;
		}
	}
}

@media screen and (max-width: 767px) {
	.info {
		&__item {
			font-size: 13px;
			&:first-child {
				flex-basis: 80px;
				font-weight: bold;
			}
		}
	}
}

.access {
	padding: 21px 0;
	border-bottom: 1px solid silver;
	h4 {
		color: #444;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.access-description {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 767px) {
	.access {
		padding: 21px 0;
		h4 {
			font-size: 16px;
		}
		p {
			font-size: 13px;
			margin-bottom: 4px;
		}
		.access-description {
			font-size: 13px;
		}
	}
}

.facility {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__item {
		flex-basis: calc(50% - 14px);
		h3 {
			font-size: 18px;
			margin-bottom: 7px;
		}
		ul {
			margin-top: 14px;
			padding-left: 21px;
			li {
				line-height: 1.75;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.facility {
		display: block;
		&__item {
			flex-basis: 100%;
			&:first-child {
				margin-bottom: 14px;
			}
			h3 {
				font-size: 16px;
			}
			ul {
				li {
					font-size: 14px;
				}
			}
			p {
				font-size: 14px;
			}
		}
	}
}

.lime-bg {
	background: #f9faf5;
	padding: 40px 0;
}

.leading {
	font-size: 18px;
	text-align: center;
}

.two {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	&__item {
		flex-basis: calc(50% - 14px);
	}
}

@media screen and (max-width: 767px) {
	.two {
		margin-top: 20px;
		display: block;
		&__item {
			flex-basis: 100%;
			margin-bottom: 14px;
		}
	}
}

.line-title {
	margin-top: 40px;
	padding-bottom: 7px;
	font-size: 21px;
	font-weight: bold;
	border-bottom: 4px solid #d7c190;
}

.three {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	&__item {
		flex-basis: calc(33% - 14px);
		background: #fff;
		h5 {
			padding: 7px 0;
			font-size: 16px;
			text-align: center;
			color: #fff;
			background: $main_color;
		}
		p {
			padding: 14px;
			text-align: center;
		}
	}
}

@media screen and (max-width: 767px) {
	.three {
		display: block;
		&__item {
			flex-basis: 100%;
		}
	}
}

.shop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	&__item {
		width: calc(50% - 14px);
		margin-bottom: 18px;
		padding: 10px;
		h4 {
			font-size: 21px;
		}
		.bold {
			margin-bottom: 7px;
		}
		.description {
			margin: 28px 0;
		}
		a {
			color: #000;
		}
		img {
			width: 100%;
			max-width: 100%;
			margin-bottom: 7px;
			object-fit: fill;
		}
		h3 {
			margin-bottom: 4px;
		}
	}
}

@media screen and (max-width: 767px) {
	.shop {
		margin-bottom: 28px;
		&__item {
			width: calc(100%);
			margin-bottom: 7px;
			h4 {
				font-size: 16px;
			}
			.description {
				margin: 14px 0;
			}
		}
	}
}

.search {
	&__item {
		padding: 21px 0;
		border-bottom: 1px dotted #000;
		h4 {
			font-size: 18px;
			margin-bottom: 4px;
			a {
				color: #000;
				text-decoration: none;
			}
		}
		.url {
			color: $main_color;
			margin-bottom: 4px;
		}
	}
}
